@{
    ViewBag.Title = "About";
}
<link href="~/Content/styles.css" rel="stylesheet" />

<div class="content">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-6">
                <h2 class="heading">About me</h2>
                <p class="lead"></p>
                <p>I am person who always loves to learn more and never hesitate to ask something if I don't know. I am a trustworthy person. My nature is very friendly, I always loves to make new friends. I believe in teamwork.  </p>
                <p>I am on my learning process right now. I want to grab lots of experience in this field and which I will get from making mistakes and from my seniors. To be honest I and not super good in programming but if you will give me chance I will be super good and I will prove myself. </p>
                <h4>Team work makes your work dream work</h4>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <p><img src="~/images/Him.jpg" alt="" class="img-res img-circle"></p>
            </div>
        </div>
    </div>
</div>
